.sobaken{
    width: 600px;
    margin: 50px;
}
.text {

    margin: 30px;
    font-size: 20px;
}
body{
    background-color: grey;
}
.zag1 {
    background: blanchedalmond;
    padding-left: 15cm;
    font-size: 50px;
    color: rgb(31, 47, 31);
}